<% page = 'add-jobs' %>
<!-- Header -->
<%- include('../../templates/header.ejs', { page })%>

<!-- Nav -->
<%- include('../../templates/nav-bar.ejs', {page}) %>

<main>
  <h2>Jobs</h2>
  <%- include('components/display-jobs', {jobs: user.jobs}) %>
  <%- include('components/submit-job', {jobs: user.jobs}) %>

  <a href="add-education">next</a>
</main>
<!-- Footer -->
<%- include('../../templates/footer.ejs', {page, user }) %>