<main class="container-lg mt-3 container-max">
  <%- include('templates/header.ejs', {page: 'add-info' })%>
  <%- include('components/basic-info', {user}) %>
  <%- include('components/section', {title: 'Jobs' ,  message:'Add a job', section:'jobs' , userHistory: user.jobs, textboxHeight: '135px' }) %>
  <%- include('components/section', {title: 'Education', message:'Add an instition or degree' , section:'education' , userHistory: user.education, textboxHeight: '135px' }) %>
  <%- include('components/section', {title: 'Skills' , message:'Add a skill', section:'skills', userHistory: user.skills, textboxHeight: '25px' }) %>
  <%- include('templates/nav-bar.ejs',{page: 'add-info' } ) %>
  <%- include('templates/footer.ejs', {page: 'add-info', user }) %>

</main>