  <%- include('../../templates/header.ejs'),   %>

  <main>
    <!-- Header -->
    <%- include('../../templates/nav-bar.ejs', {page: 'create-resume'}),   %>
    <h2>Create Resume</h2>
    <!-- Submit job listing -->
    <%- include('components/submit-job-listing.ejs'),   %>

    <!-- Download resume button with bootstap styles -->
    <!-- if pdfPath then -->
    <% if (pdfUrl) { %>

    <div>
      <a href="<%= pdfUrl %>" download>Download PDF</a>
    </div>
    <% } %>

    <!-- Display resume -->
    <% if (resume) { %>
    <%- include('components/resume-render.ejs', { resumeData: resume }) %>
    <% } %>


    <%- include('../../templates/footer.ejs', {page: 'add-info', user }) %>

  </main>

  </body>

  </html>