<% page = 'add-skills' %>
<!-- Header -->
<%- include('../../templates/header.ejs', { page })%>

<!-- Nav -->
<%- include('../../templates/nav-bar.ejs', {page}) %>

<main>
  <h2>Skills</h2>
  <%- include('components/display-skills', {skills: user.skills}) %>
  <%- include('components/submit-skills', {skills: user.skills}) %>

  <a href="../create-resume">next</a>
</main>
<!-- Footer -->
<%- include('../../templates/footer.ejs', {page, user }) %>