<% page = 'add-education' %>
<!-- Header -->
<%- include('../../templates/header.ejs', { page })%>

<!-- Nav -->
<%- include('../../templates/nav-bar.ejs', { page }) %>

<main>
  <h2>Education</h2>
  <%- include('components/display-education', {educations: user.education}) %>

  <%- include('components/submit-education', {educations: user.education}) %>

</main>
<!-- Footer -->
<%- include('../../templates/footer.ejs', {page, user }) %>